# PySpark Environment

In [1]:
import os

os.environ['SPARK_HOME'] = 'C:/Users/saulr/anaconda3/envs/pyspark-env/Lib/site-packages/pyspark'
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'notebook'
os.environ['PYSPARK_PYTHON'] = 'python'

# Import PySpark and initialize SparkSession
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName('SparkDataFrame').getOrCreate()

# Spark SQL

## Load Data into a DataFrame

In [ ]:
# Read the CSV file into a DataFrame
df = spark.read.csv('../data/persons.csv', header=True, inferSchema=True)

# Print the DataFrame schema
df.printSchema()

# Show the first 5 rows
df.show(5)

## Register the DataFrame as a Temporary Table

In [3]:
# Register the DataFrame as a Temporary Table
df.createOrReplaceTempView('persons')

## Perform SQL-like Queries

In [ ]:
# Select all rows where age is greater than 25
query = 'SELECT * FROM persons WHERE age > 25'
result = spark.sql(query)
result.show()

# Compute the average salary of persons
query = 'SELECT AVG(salary) AS avg_salary FROM persons'
result = spark.sql(query)
result.show()

## Managing temporary views

In [ ]:
# Check if a temporary view persons exists and print a message if exists
if spark.catalog._jcatalog.tableExists('persons'):
    print('Temporary view persons exists')

# Drop the temporary view persons
spark.catalog.dropTempView('persons')

## Sub Queries

In [ ]:
# Create two DataFrames
# The first DataFrame contains employee data with columns: id, name
# The second DataFrame contains salary data with columns: id, salary, department
emp_data = [(1, 'John'), (2, 'Jane'), (3, 'Smith')]
salary_data = [(1, 50000, 'HR'), (2, 60000, 'IT'), (3, 70000, 'Finance')]
emp_df = spark.createDataFrame(emp_data, ['id', 'name'])
salary_df = spark.createDataFrame(salary_data, ['id', 'salary', 'department'])

# Show the DataFrames
emp_df.show()
salary_df.show()

In [14]:
# Register as temporary views
emp_df.createOrReplaceTempView('employees')
salary_df.createOrReplaceTempView('salaries')

In [ ]:
# Subquery to find employees with salaries above average
query = '''
SELECT e.name, s.salary
FROM employees e
JOIN salaries s
ON e.id = s.id
WHERE s.salary > (SELECT AVG(salary) FROM salaries)
'''
result = spark.sql(query)
result.show()